.strokeAnimation {
  stroke-dasharray: 2000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear infinite;
}

@keyframes dash {
  0%,
  100% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: -1000;
  }
}
